{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<h1>my HRIS defailt page</h1>
<br>
{% if latest_employees_list %}
    <ul>
            
    {% for employee in latest_employees_list %}
        <li><a href="{% url "hris:employee-detail" employee.id %}">{{ employee.employee_number }}  {{ employee.first_name }}  {{ employee.last_name }}</a></li>
    {% endfor %}
            <br>
    </ul>
{% else %}
    <p>No employee are available.</p>
{% endif %}
<br>
{{ num_visits }}
{% endblock %}